*,
*::before,
*::after {
     box-sizing: border-box;
}

body {
     font-family: 'Roboto', sans-serif;
     color: #434455;
     background-color: #fff;
}

h1,
h2,
h3 {
     margin: 0;
}

p {
     margin: 0;
     padding: 0;
}

img {
     display: block;
}

ul {
     margin: 0;
     padding: 0;
     list-style-type: none;
}

a {
     text-decoration: none;
}

.container {
     min-width: 320px;
     margin: 0 auto;
     padding: 0 15px;
}

.section{
    width: 100%;
    padding-top: 96px;
    padding-bottom: 96px;

}

/* header */
@media(min-width: 320px){
     .container{
          max-width: 767px;
     }

 .page-header {
      box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
      background: #fff;
      border-bottom: 1px solid #e7e9fc;
 }

 .container-header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 16px;
 }

  .logo-header {
       font-family: "Raleway", sans-serif;
       font-weight: 700;
       font-size: 18px;
       line-height: 1.17;
       letter-spacing: 0.03em;
       text-transform: uppercase;
       color: #4d5ae5;
  }

   .logo-header span {
        color: #2e2f42;
   }

   .logo-end {
        margin-right: 0;
   }

   .nav-list {
        display: none;
   }

   .contact-list {
        display: none;
   }

   .burger-menu{
     border: none;
     background-color: transparent;
   }

   
   /* section-1 */

    .section-title {
         margin: 0 auto;
         padding-top: 72px;
         padding-bottom: 72px;
         background-color: #2e2f42;
         background-image: linear-gradient(to bottom,
                   rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
              url(../images/people-office.jpg);
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center;
    }

     .title{
    max-width: 216px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     text-align: center;
     color: #fff;
 }

 .main-page-button {
      display: block;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 72px;
      padding: 16px 32px;
      border-radius: 4px;
      border: none;
      min-width: 169px;
      height: 56px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #fff;
      background: #4d5ae5;
      cursor: pointer;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .main-page-button:hover {
      background: #404BBF;
 }

 .main-page-button:focus {
      background: #404BBF;
 }


 /* section-3 */

.section-benefits {
     background-color: #FFFFFF;
}

.visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
}

.title-benefit {
     margin-bottom: 8px;
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     text-align: center;
     color: #2e2f42;
}

.benefit-list {
     margin: 0 auto;;
     max-width: 288px;
     display: flex;
     align-items: center;
     flex-direction: column;
     gap: 74px;   
}

.benefit-icon {
     display: none;
}

.text-benefit {
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
}

/* section-4 */

.section-team {
     background: #f4f4fd;
}

.main-title-team {
     margin-bottom: 72px;
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     text-align: center;
     text-transform: capitalize;
     color: #2e2f42;
}

.team {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 72px;
}

.team-list {
     border-radius: 0 0 4px 4px;
     max-width: 264px;
     box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
     background: #fff;
}

.team {
     display: flex;
     gap: 24px;
}

.team-descr {
margin-top: 32px;
margin-bottom: 32px;
}

.title-team {
     margin-bottom: 8px;
     text-align: center;
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42;
}

.text-team {
     text-align: center;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
     margin-bottom: 8px;
}

.social-links {
     display: flex;
     justify-content: center;
     gap: 24px;

}

.social-item {
     width: 40px;
     height: 40px;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 100%;
     border-radius: 50%;
     background-color: #4d5ae5;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
     background-color: #404BBF;
}

.link:focus {
     background-color: #404BBF;
}

.icon {
     fill: #f4f4fd;
}
}